# 서울열린데이터광장 지역구별 주민등록인구
- 서울시 주민등록인구(월별_구별) 통계
    - 서울시 통계정보시스템에서 제공하는 주민등록인구(월별_구별)에 대한 통계정보 입니다. 서울시 주민등록인구(월별_구별)을 자치구별로 제공하는 일반

In [ ]:
주민등록인구(월별)_20220921154218

In [11]:
import pandas as pd

df = pd.read_csv('주민등록인구(월별)_20220921154218.csv',
                )

df.head()

,동별(1),동별(2),2022. 08,2022. 08.1,2022. 08.2,2022. 08.3,2022. 08.4,2022. 08.5,2022. 08.6,2022. 08.7,2022. 08.8,2022. 08.9
0,동별(1),동별(2),세대 (세대),합계 (명),합계 (명),합계 (명),한국인 (명),한국인 (명),한국인 (명),외국인 (명),외국인 (명),외국인 (명)
1,동별(1),동별(2),소계,소계,남자,여자,소계,남자,여자,소계,남자,여자
2,합계,소계,4472975,9717242,4704309,5012933,9488454,4601295,4887159,228788,103014,125774
3,합계,종로구,73866,153349,73672,79677,143499,69408,74091,9850,4264,5586
4,합계,중구,64011,131528,63849,67679,121960,59309,62651,9568,4540,5028

In [12]:
df.columns

Index(['동별(1)', '동별(2)', '2022. 08', '2022. 08.1', '2022. 08.2', '2022. 08.3',
       '2022. 08.4', '2022. 08.5', '2022. 08.6', '2022. 08.7', '2022. 08.8',
       '2022. 08.9'],
      dtype='object')

In [13]:
df = df.drop(['동별(1)', '2022. 08', '2022. 08.2', '2022. 08.3',
       '2022. 08.4', '2022. 08.5', '2022. 08.6', '2022. 08.8',
       '2022. 08.9'],axis=1)

In [14]:
df.head()

   동별(2) 2022. 08.1 2022. 08.7
0  동별(2)     합계 (명)    외국인 (명)
1  동별(2)         소계         소계
2     소계    9717242     228788
3    종로구     153349       9850
4     중구     131528       9568

In [15]:
df.columns = ['시군구', '합계 (명)', '외국인 (명)']

In [16]:
df = df.drop([0,1,2],axis=0)

In [17]:
df = df.reset_index(drop=True)

In [18]:
country = '대한민국'
df['국가'] = country
sido = '서울특별시'
df['시도'] = sido

In [19]:
df.head()

   시군구  합계 (명) 외국인 (명)    국가     시도
0  종로구  153349    9850  대한민국  서울특별시
1   중구  131528    9568  대한민국  서울특별시
2  용산구  236507   14277  대한민국  서울특별시
3  성동구  290274    6671  대한민국  서울특별시
4  광진구  352292   12725  대한민국  서울특별시

In [20]:
df.columns

Index(['시군구', '합계 (명)', '외국인 (명)', '국가', '시도'], dtype='object')

In [21]:
df = df[['국가', '시도','시군구','합계 (명)','외국인 (명)',]]

In [22]:
df.head()

     국가     시도  시군구  합계 (명) 외국인 (명)
0  대한민국  서울특별시  종로구  153349    9850
1  대한민국  서울특별시   중구  131528    9568
2  대한민국  서울특별시  용산구  236507   14277
3  대한민국  서울특별시  성동구  290274    6671
4  대한민국  서울특별시  광진구  352292   12725

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가       25 non-null     object
 1   시도       25 non-null     object
 2   시군구      25 non-null     object
 3   합계 (명)   25 non-null     object
 4   외국인 (명)  25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [24]:
df['외국인 (명)'] = df['외국인 (명)'].astype('int64')

In [25]:
df['합계 (명)'] = df['합계 (명)'].astype('int64')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가       25 non-null     object
 1   시도       25 non-null     object
 2   시군구      25 non-null     object
 3   합계 (명)   25 non-null     int64
 4   외국인 (명)  25 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.1+ KB

In [27]:
df['외국인 비율'] = round((df['외국인 (명)'] / df['합계 (명)'])*100, 2)

In [28]:
df.head()

     국가     시도  시군구  합계 (명)  외국인 (명)  외국인 비율
0  대한민국  서울특별시  종로구  153349     9850    6.42
1  대한민국  서울특별시   중구  131528     9568    7.27
2  대한민국  서울특별시  용산구  236507    14277    6.04
3  대한민국  서울특별시  성동구  290274     6671    2.30
4  대한민국  서울특별시  광진구  352292    12725    3.61

In [29]:
data1 = df.sort_values('외국인 비율', ascending=False)
data1[:10]

      국가     시도   시군구  합계 (명)  외국인 (명)  외국인 비율
1   대한민국  서울특별시    중구  131528     9568    7.27
0   대한민국  서울특별시   종로구  153349     9850    6.42
2   대한민국  서울특별시   용산구  236507    14277    6.04
18  대한민국  서울특별시  영등포구  400230    22935    5.73
16  대한민국  서울특별시   구로구  417796    23550    5.64
17  대한민국  서울특별시   금천구  244816    13460    5.50
5   대한민국  서울특별시  동대문구  352676    15443    4.38
12  대한민국  서울특별시  서대문구  317731    11478    3.61
4   대한민국  서울특별시   광진구  352292    12725    3.61
20  대한민국  서울특별시   관악구  501482    13853    2.76