In [ ]:
서울특별시 공공도서관 (199)

In [ ]:
강북구 gangbuk https://www.gblib.or.kr/gangbuk/event/list.do
관악구 gwanak https://lib.gwanak.go.kr/galib/menu/10028/program/30006/lectureList.do
광진구 gwangjin https://www.gwangjinlib.seoul.kr/intro.do / 프로그램 신청(준비중)...
구로구 guro https://grlib.sen.go.kr/grlib/module/teach/index.do?menu_idx=15&searchCate1=16
금천구 geumcheon https://geumcheonlib.seoul.kr/cop/bbs/selectBoardList.do?bbsId=BBSMSTR_000000000002&menuId=MNU_0000000000000018
노원구 nowon https://connect.nowonlib.kr/function_list
동작구 dongjak https://lib.dongjak.go.kr/dj/module/teach/index.do?menu_idx=32&searchCate1=16
마포구 mapo https://mplib.mapo.go.kr/mcl/MENU1069/PGM3021/lectureList.do
성동구 sd https://www.sdlib.or.kr/SD/edusat/list.do
성북구 sb https://www.sblib.seoul.kr/library/menu/10038/bbs/20001/bbsArticleList.do?currentPageNo=1&bbsArticleIdx=0
종로구 jongno https://lib.jongno.go.kr/bbs/board.php?bo_table=ReadingPgm
중랑구 jungnang https://www.jungnanglib.seoul.kr/library/index.php?g_page=community&m_page=community01

In [ ]:
import pandas as pd
dongjak_df = pd.DataFrame(columns = ['lib','title','target'])
dongjak_df

Empty DataFrame
Columns: [lib, title, target]
Index: []

In [32]:
from bs4 import BeautifulSoup
import requests

In [45]:
bs.select_one('#contentArea > div > div.op_wrap > div > table > tbody > tr.first > td.title.td3 > dl > dd:nth-child(2)')

In [25]:
from bs4 import BeautifulSoup
import requests


url = 'https://lib.dongjak.go.kr/dj/module/teach/index.do?menu_idx=32&searchCate1=16'
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}
dongjak = requests.get(url, headers = headers)
bs = BeautifulSoup(dongjak.text, 'html.parser')


ind=0
for j in range(1,61):
    try:
        lib = bs.select_one('#contentArea > div > div.op_wrap > div > table > tbody > tr:nth-child('+str(j) +') > td.list_cate.center.first.td1 > span.codeName.phlib0004').text
        title = bs.select_one('#contentArea > div > div.op_wrap > div > table > tbody > tr:nth-child('+str(j) +') > td.title.td3 > dl > dt > a').text
        target = bs.select_one('#contentArea > div > div.op_wrap > div > table > tbody > tr:nth-child('+str(j) +') > td.title.td3 > dl > dd:nth-child(2)').text
        dongjak_df.loc[ind] = [lib, title, target]
        ind += 1
    except:
        print(None)

dongjak_df

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

Empty DataFrame
Columns: [lib, title, target]
Index: []

In [ ]:
dongjak_df.target.unique().tolist()

In [ ]:
dongjak_df.target.value_counts()

In [ ]:
dongjak_df.to_csv('dongjak.csv')

In [ ]:
dongjak_df

In [48]:
dj = pd.read_excel('Book2.xlsx')

In [52]:
dj

      도서관명                             제목 Unnamed: 2 Unnamed: 3
0     사당솔밭           [솔밭공작소]도자기 공예 1차 페인팅        어린이        NaN
1      NaN  대상 : 6-7세 어린이를 포함한 가족 10팀 10명        NaN        NaN
2      NaN                   장소 : 3층 문화교실        NaN        NaN
3    대방어린이                    그림책 탐험대(초등)        어린이        NaN
4      NaN               대상 : 초등1~2학년 10명        NaN        NaN
..     ...                            ...        ...        ...
175    NaN                대상 : 초등4~6학년 8명        NaN        NaN
176    NaN                 장소 : 온라인(zoom)        NaN        NaN
177  대방어린이              청소년 독서동아리(북씨앗) 모집        청소년        NaN
178    NaN              대상 : 중학생 1~3학년 5명        NaN        NaN
179    NaN                 장소 : 온라인(zoom)        NaN        NaN

[180 rows x 4 columns]